@model сoursework.Data.Models.Genre

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы точно хотите удалить этот жанр?</h3>
<div>
    <h4>Жанр</h4>
    <hr />
    <dl class="row">
        <dt>
            Наименование жанра: @Html.DisplayFor(model => model.titleGenre)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a class="button-action" asp-action="Index">Вернуться назад</a>
    </form>
</div>
