@model IEnumerable<сoursework.Data.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Таблица Genre</h1>

<p>
    <a class="button-action" asp-action="Create">Добавить новый жанр</a>
</p>
<br />
<table class="Table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Наименование жанра
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titleGenre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Изменить</a> <br />
                    <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
