@*Главный шаблон веб приложения*@
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ИС</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <script src="~/js/script.js"></script>
</head>

<body>
    <nav class="menu" id="menu">
        <ul>
            <li>
                <a href="/">Быстрый просмотр</a>
                <ul>
                    <li>
                        <a href="/Home/ViewAuthors">Авторы и их книги</a>
                    </li>
                    <li>
                        <a href="/Home/ViewBooks">Количество книг на складе</a>
                    </li>
                    <li>
                        <a href="/Home/ViewEmployees">Сотрудники и контактные данные</a>
                    </li>
                    <li>
                        <a href="/Home/ViewGenres">Жанры и книги по ним</a>
                    </li>
                    <li>
                        <a href="/Home/ViewPositions">Должности и сотрудники</a>
                    </li>
                    <li>
                        <a href="/Home/ViewPublishers">Издатели и их книги</a>
                    </li>
                    <li>
                        <a href="/Home/ViewStores">Информация о магазинах</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="/Home">Изменение, создание и удаление данных</a>
                <ul>
                    <li>
                        <a href="/Authors/Index">Авторы</a>
                    </li>
                    <li>
                        <a href="/Books/Index">Книги</a>
                    </li>
                    <li>
                        <a href="/Employees/Index">Сотрудники</a>
                    </li>
                    <li>
                        <a href="/Genres/Index">Жанры</a>
                    </li>
                    <li>
                        <a href="/Positions/Index">Должности</a>
                    </li>
                    <li>
                        <a href="/Publishers/Index">Издатели</a>
                    </li>
                    <li>
                        <a href="/Stores/Index">Магазины</a>
                    </li>
                </ul>
            </li>
        </ul>
        <script type="text/javascript">shineLinks('menu');</script>
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>
            © "ИС для книжного магазина", 2021. Все права защищены.
        </p>
    </footer>

</body>
</html>
