@using Microsoft.AspNetCore.Server.IIS.Core
@*Главный шаблон веб приложения*@
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ИС</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <script src="~/js/script.js"></script>
</head>

<body>
    <nav class="menu" id="menu">
        <ul>
            <li>
                <a asp-action="Home" asp-controller="Home">Быстрый просмотр</a>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="ViewAuthors">Авторы и их книги</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="ViewBooks">Количество книг на складе</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="ViewEmployees">Сотрудники и контактные данные</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="ViewGenres">Жанры и книги по ним</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="ViewPositions">Должности и сотрудники</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="ViewPublishers">Издатели и их книги</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="ViewStores">Информация о магазинах</a>
                    </li>
                </ul>
            </li>
            @if (ViewContext.HttpContext.User.IsInRole("employee"))
            {
                <li>
                    <a asp-action="Home" asp-controller="Home">Изменение, создание и удаление данных</a>
                    <ul>
                        <li>
                            <a asp-controller="Authors" asp-action="Index">Авторы</a>
                        </li>
                        <li>
                            <a asp-controller="Books" asp-action="Index">Книги</a>
                        </li>
                        <li>
                            <a asp-controller="Employees" asp-action="Index">Сотрудники</a>
                        </li>
                        <li>
                            <a asp-controller="Genres" asp-action="Index">Жанры</a>
                        </li>
                        <li>
                            <a asp-controller="Positions" asp-action="Index">Должности</a>
                        </li>
                        <li>
                            <a asp-controller="Publishers" asp-action="Index">Издатели</a>
                        </li>
                        <li>
                            <a asp-controller="Stores" asp-action="Index">Магазины</a>
                        </li>
                    </ul>
                </li>
            }
            <li class="right">
                <a asp-controller="Account" asp-action="Login">Войти</a>
            </li>
            <li class="right">
                <a asp-controller="Account" asp-action="Register">Регистрация</a>
            </li>
            @if (ViewContext.HttpContext.User.IsInRole("employee"))
            {
                <li class="right">
                    <a asp-controller="Account" asp-action="Logout">Выйти</a>
                </li>
            }
        </ul>
        <script type="text/javascript">shineLinks('menu');</script>
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>
            © "ИС для книжного магазина", 2021. Все права защищены.
        </p>
    </footer>

</body>
</html>
