@model сoursework.Data.Models.Store

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Удаление</h1>

<h3>Вы точно хотите удалить этот книжный магазин?</h3>
<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt>
            Адресс: @Html.DisplayFor(model => model.address)
        </dt>
        <dt>
            Площадь: @Html.DisplayFor(model => model.area)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a class="button-action" asp-action="Index">Вернуться назад</a>
    </form>
</div>
