@model сoursework.Data.Models.Book

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Изменить</h1>

<h4>Книга</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cost" class="control-label"></label>
                <input asp-for="cost" class="form-control" />
                <span asp-validation-for="cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="year" class="control-label"></label>
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imgPath" class="control-label"></label>
                <input asp-for="imgPath" class="form-control" />
                <span asp-validation-for="imgPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imgAlterText" class="control-label"></label>
                <input asp-for="imgAlterText" class="form-control" />
                <span asp-validation-for="imgAlterText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

