@model HomeViewModel

@{
    Layout = "_Layout";
}

<h1>Описание информационной системы</h1>
<hr />
<p>
    Данная информационная система (ИС) содержит основные сведения полезные для книжного магазина.
    В качестве информационной системы выступает база данных, созданная при помощи библиотеки EntityFrameworkCore на языке C#.
    Такая база данных необходима для упрощения организации работы магазина с книгами и сотрудниками,
    поскольку имеется большое количество книг, сотрудников и дочерних магазинов.
</p>