@model HomeViewModel
@{
    Layout = "_Layout";
}
<h1>Должности и сотрудники</h1>
<hr />
<table class="Table">
    <thead>
        <tr>
            <th>Должность</th>
            <th>Сотрудники</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @{
            foreach (var position in Model.bookRep.GetPositions().Result)
            {
                <tr>
                    <td>
                        @position.employeePosition
                    </td>
                    <td>
                        <ul>
                            @foreach (var employee in Model.bookRep.GetEmployeesThis(position).Result)
                            {
                                <li>@employee.surname</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>