@model List<сoursework.Data.Models.ObjectsDB.Position>

<h1>Должности и сотрудники</h1>
<hr />
<table class="Table">
    <thead>
        <tr>
            <th>Должность</th>
            <th>Сотрудники</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @{
            foreach (var position in Model)
            {
                <tr>
                    <td>
                        @position.employeePosition
                    </td>
                    <td>
                        <ul>
                            @foreach (var employee in position.employees)
                            {
                                <li>@employee.surname</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>