@model HomeViewModel
@{
    Layout = "_Layout";
}
<h1>Жанры и книги по ним</h1>
<hr />
<table class="Table">
    <thead>
        <tr>
            <th>Назавние жанра</th>
            <th>Книги по жанру</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
        @{
            foreach (var genre in Model.bookRep.GetGenres().Result)
            {
                <tr>
                    <td>
                        @genre.titleGenre
                    </td>
                    <td>
                        <ul>
                            @foreach (var book in @Model.bookRep.GetBooksThis(genre).Result)
                            {
                                <li>@book.title</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
