@model List<сoursework.Data.Models.Genre>

<h1>Жанры и книги по ним</h1>
<hr />
<table class="Table">
    <thead>
        <tr>
            <th>Назавние жанра</th>
            <th>Книги по жанру</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
        @{
            foreach (var genre in Model)
            {
                <tr>
                    <td>
                        @genre.titleGenre
                    </td>
                    <td>
                        <ul>
                            @foreach (var book in genre.books)
                            {
                                <li>@book.title</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
