@model List<сoursework.Data.Models.Publisher>

<h1>Издатели и их книги</h1>
<hr />
<table class="Table">
    <thead>
        <tr>
            <th>Директор</th>
            <th>Почта</th>
            <th>Адрес</th>
            <th>Книги издателя</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @{
            foreach (var publisher in Model)
            {
                <tr>
                    <td>
                        @publisher.director
                    </td>
                    <td>
                        @publisher.email
                    </td>
                    <td>
                        @publisher.address
                    </td>
                    <td>
                        <ul>
                            @foreach (var book in publisher.books)
                            {
                                <li>@book.title</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>