@model List<сoursework.Data.Models.Author>

    <h1>Авторы и их книги</h1>
    <hr />
<table class="Table">

    <thead>
    <tr>
        <th>ФИО автора</th>
        <th>Книги автора</th>
    </tr>
    </thead>
    <tbody id="tbody">
    @{
        foreach (var author in Model)
        {
            <tr>
                <td>
                    @author.name
                    @author.patronymic
                    @author.surname
                </td>
                <td>
                    <ul>
                        @foreach (var book in author.books)
                        {
                            <li>@book.title</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $(".Table").tablesorter();
    });
</script>