@model сoursework.Data.Models.ObjectsDB.Position

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Удаление</h1>

<h3>Вы точно хотите удалить эту должность?</h3>
<div>
    <h4>Должность</h4>
    <hr />
    <dl class="row">
        <dt>
            Должность: @Html.DisplayFor(model => model.employeePosition)
        </dt>
        <dt>
            Зарплата: @Html.DisplayFor(model => model.salary)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
