@model сoursework.Data.Models.Author

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Удаление</h1>

<h3>Вы точно хотите удалить этого автора?</h3>
<div>
    <h4>Автор</h4>
    <hr />
    <dl class="row">
        <dt>
            Имя: @Html.DisplayFor(model => model.name)
        </dt>
        <dt>
            Фамилия: @Html.DisplayFor(model => model.surname)
        </dt>
        <dt>
            Отчество: @Html.DisplayFor(model => model.patronymic)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
