@model сoursework.Data.Models.Publisher

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Удаление</h1>

<h3>Вы точно хотите удалить этого издателя?</h3>
<div>
    <h4>Издатель</h4>
    <hr />
    <dl class="row">
        <dt>
            Название: @Html.DisplayFor(model => model.title)
        </dt>
        <dt>
            Адресс:  @Html.DisplayFor(model => model.address)
        </dt>
        <dt>
            Директор: @Html.DisplayFor(model => model.director)
        </dt>
        <dt>
            Электронная почта: @Html.DisplayFor(model => model.email)
        </dt>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
